* {
  box-sizing: border-box;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
figcaption {
  padding: 0;
  margin: 0;
}
.button {
  background: #4592ff;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.button-icon:last-child {
  margin-right: 0;
  margin-left: 10px;
}
.button-icon,
.button-price,
.button-text {
  margin-right: 10px;
}

.label {
  font-size: 12px;
  padding: 5px 12px;
  background-color: #3dc47e;
  border-radius: 3px;
  color: wheat;
  line-height: 15px;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.swiper-button-prev {
  margin-left: 10%;
  cursor: pointer;
}
.swiper-button-next {
  margin-right: 10%;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .slide-1 {
    background-size: cover;
  }
  .card-3 {
    background-size: cover;
  }
  .swiper-button-prev {
    margin-left: 0;
    cursor: pointer;
  }
  .swiper-button-next {
    margin-right: 0;
    cursor: pointer;
  }
}

@media (max-width: 992px) {
  .slider-nav {
    display: none;
  }
}
@media (max-width: 576px) {
  .slide-title {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  .cord {
    background-position: left top;
    padding: 30px;
    min-height: 300px;
  }
  .cord-4 {
    background-position: right top;
  }
  .card-grup-img {
    display: none;
  }
}
